@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap" rel="stylesheet');

* {
    margin: 0;
padding: 3px;
    font-family: "Ruthie", cursive;
}

#a3{
    color: blue;
}
#a2{
    color: brown;
}
#a1{
    color: chartreuse;
}
.aa1{
    background-color: blue;
    color: whitesmoke;
    padding: 6px;
}
