<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flag</title>
    <link rel="stylesheet" href="{% static "index1.css" %}">


</head>
<body>
    <h1 id="a4">Парчами Миллии Мо</h1>
    <a target="_blank" href="http://127.0.0.1:8000/Shakhmat">Shakhmat</a>
    <h1 id="a1">Шеър, дар бораи Парчам</h1>
    <p id="a2">Тоҷикистон, Парчамат поянда бод, <br> Ҷовидон фарзандҳоят зинда бод! <br> <br> Ранги сабзаш сабз шуд аз ҷони мо, <br> Ранги сурхаш хуни аҷдодони мо. </p>
    <p id="a3">Дар сафедияш раҳи бахти сафед, <br>Мебарад моро ба фардои умед. <br> <br> Тоҷикистон, Парчамат поянда бод, <br>Ҷовидон фарзандҳоят зинда бод!</p>
    <a href="https://medium.com/@laren_afeez/why-html-is-a-must-for-every-website-63468c8117f8"><img class="aa2" src= "{% static 'img4.jpg' %}" alt="calom" width="500px"></a> 

</body>
</html>