<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html</title>
    <link rel="stylesheet" href="{% static "main.css" %}">

</head>
<body>
    <h1 class="a1">HTML</h1> <br>
    <p class="a3">HTML (HyperText Markup Language) is the language used to create the web pages you visit every day. <br> It provides a logical way to structure content for web pages. (MDN-Servers, 2016)</p> <br>
    <h3 class="a4">A markup language is a computer language that defines the structure and presentation of raw text. <br> Markup languages work by surrounding raw text with information the computer can interpret, <br> "marking it up" for processing. HyperText is text displayed on a computer or device that provides access <br> to other text through links, also known as “hyperlinks”. (Codecademy.com, 2016)</h3> <br>
    <h3 class="a2">HTML also defines the Document Object Model (DOM), which describes the structure of the page and is like <br> an outline or map of the content within a website. HTML is so important to a website that <br> if the DOM is not coded correctly, it can break the entire website. (Villalobos, 2016)</h3> <br>
    <a href="https://medium.com/@laren_afeez/why-html-is-a-must-for-every-website-63468c8117f8"><img class="aa2" src= "{% static 'img1.png' %}" alt="calom" width="500px"></a> 
    <a class="aa1" target="_blank" href="http://127.0.0.1:8000/CSS">CSS</a>
</body>
</html>