<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess</title>
    <link rel="stylesheet" href="{% static "index2.css" %}">


</head>
<body>
    <h1 id="a1">Шахматы</h1>
    <p id="a2">На шахмати есть асобые фигури например;   Peshka   ,  Kon   ,  Slon   ,  Ladya  ,   Fers ,  Karol   </p> <br>
    <p id="a3">The birthplace of chess is India. The time of its occurrence may be unknown. In this verse, Allah Almighty revealed that the Quran speaks of thousands of years BC. <br>  This verse speaks of thousands of years BC
. According to legend, the Indian Raja very much welcomed this game. It will be suggested after studying the method of the game  <br>
that the creator of the desired chess will be offered a reward.  At first glance, the inventor of chess did not require much. 
He asks the ruler of  the round to <br> put one grain of wheat in the first cell of the chessboard, two in the second,  four grains of wheat in the third... thus, the addition method  <br>
Each house on the chessboard must be supplied with wheat.  Erysipelas believed that the desire of the creator of the game would be one or two bags of wheat. <br>
When they start counting wheat grains and playhouses, it becomes clear that such a quantity of wheat is not only in India, 
but not! That is,  we must pay <br> tribute to the inventor of chess 184 467 440 737 095 516 15 (18 quintilons 446 quadrillons 744 trilons 73 bilons 709 million 551 thousand 615) 
a grain of wheat was provided. <br> In another narrative, it is assumed that the game of chess was brought from kim, some other planet. No one can guarantee the truth of this statement. <br> But there is no doubt that so far no chess game has been like the previous one. Each game differs from the other by its combination. <br> Anyway, chess, as an intellectual sport, as a noble art, is still in the spotlight and will remain so in the future.</p>
<br>
<a href="https://medium.com/@laren_afeez/why-html-is-a-must-for-every-website-63468c8117f8"><img class="aa2" src= "{% static 'img3.jpg' %}" alt="calom" width="500px"></a> 

    <a class="aa1" target="_blank" href="http://127.0.0.1:8000/Html">Html</a>
</body>
</html>