<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>
    <link rel="stylesheet" href="{% static "index.css" %}">


</head>
<body>
    <h1 id="a1">CSS кай сохта шуд!</h1>
    <h3 id="a2">Савол</h3>
    <p id="a3">CSS кай сохта шуд</p>
    <h3 id="a4">Чавоб</h3>
    <p id="a5">CSS аввал дар соли 1997 таҳия шуда буд, ки роҳи таҳияи веб-сайтҳо барои муайян намудани <br>намуди вебсайтҳои вебсайтҳое, ки онҳо ташкил медиҳанд, муайян карда шудаанд. Он барои ба <br>кор бурдани мутахассисони вебсайт ҷудо кардани мундариҷа ва сохтори рамзи вебсайт аз <br>тарҳрезии визуалӣ, чизе, ки пеш аз ин вақт имконпазир набуд, нигаронида шудааст.</p>
    <a href="https://medium.com/@laren_afeez/why-html-is-a-must-for-every-website-63468c8117f8"><img class="aa2" src= "{% static 'img2.png' %}" alt="calom" width="500px"></a> 
   <a target="_blank" href="http://127.0.0.1:8000/Flag">Flag</a>
</body>
</html>